.Tab-Item-Container {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
.App-Item-Container {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
.bg-container {
  background-image: linear-gradient(to bottom, #fff1eb, #ace0f9);
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading {
  font-family: Bree-Serif;
}
